body {
    background-color: lightgray;
}

/* Bootstrap overrides/additions */
form p, form:not(#checkout-info) div, form:not(#checkout-info) div div {
    margin: auto;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

form .control-group {
    margin-bottom: auto;
}

form p[id^="error"] {
    margin-top:-10px;
}
form p[id^="error"] strong {
    font-style: italic;
}

.alert-block {
    min-height: 20px;
}

/* End Bootstrap overrides/additions */

.errorlist {
    font-style: italic;
    color: red;
}

.helptext {
    float: left;
    font-style: italic;
    color: darkred;
    font-size: 0.8rem;
    margin-top: -10px;
}

.border-right {
    border-right: 1px solid;
}

h1.book_title {
    margin:  0 0 0 0;
    font-size: 160%;
    line-height: 110%;
    color: darkred;
 }

h2.author {
    line-height: 1.5rem;
}

#checkout-btn {
    margin-top:8px;
}

#container {
    position: relative;
    width: 993px;
    background-color: #fff;
    height: auto;
    margin: 0 auto;
    padding: 15px;
}

/*
.container > hr {
    margin: 60px 0;
}
*/

#tagline {
    display: block;
    float: left;
    margin: 0;
    position: relative;
    margin: -28px 0 2.5rem 30px;
    height: 25px;
    color: darkred;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
    font-style: italic;
/*    background-color: #ffffff; */
}

#tagline > h2 {
    font-size: 140%
}

#tagline > h2 {
}

.masthead {
    height: 120px;
}

.navbar {
    max-width: 690px;
    height: auto;
    float: right;
    margin-top: -65px;
}

.navbar .navbar-inner {
    padding: 0;
    height: 35px;
    background-image: -webkit-linear-gradient(top, #ffffff, #e3e3e3) !important;
    background-image: linear-gradient(to bottom, #ffffff, #e3e3e3) !important;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: left;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

#home_msg h1 {
    font-size: 1.5rem;
    line-height: 120%;
    margin: 0 0 0.3rem 0;
}

.catalog-row {
    border-bottom: 2px solid darkred;
    padding: 15px 0 15px 0;
    margin-bottom: 15px;
}

#id_q {
    max-width: 140px;
    z-index: 1000;
    margin: 5px 10px 5px 15px;
}

#results_summary>h1 {
    margin-bottom: 1rem;
    font-size: 36px;
}

.frame {
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #e3e3e3;
}

.frame .heading {
    position: relative;
    height: 20px;
    color: #fff;
    background-color: #8B0000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 7px 10px 5px 10px;
    font-weight: bold;
    font-size: 107%;
    text-align: center;
}


.frame .content {
    position: relative;
    margin: 10px;
    height: auto;
    overflow: hidden;
}

#featured {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-top:25px;
}

#featured .book_thumb {
    margin-right: 10px;
}

.footer {
    position: relative;
    margin: auto;
    width: 1000px;
    font-size: 90%;
    background-color: darkred;
    text-align: center;
    color: #fff;
    padding: 5px 15px 5px 15px;
}

.book_thumb {
    text-align: center;
}
.book_thumb, .book_result {
    position: relative;
    width: 130px;
    min-height: 170px;
    margin-bottom: 15px;
}

.related .book_thumb {
    position: relative;
    width: 150px;
    min-height: 170px;
    margin-bottom: 15px;
    padding: 10px 0 0 10px;
}

.related .content {
    padding: 10px 20px 5px 10px;
}

.book_result {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.book_result_thumb {
    position:relative;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width:75px;
    height:auto;
    margin-right:10px;
}

.col1 {
    position: relative;
    float: left;
    margin-right: 18px;
}

.col2 {
    position: relative;
    float: right;
    /*clear: right; */
}

.book_result .distinct {
    position: relative;
    clear: left;
    height: 110px;
    margin-bottom: 15px;
}

.book_result_thumb img {
    position: relative;
    float: left;
    width:auto;
    max-width: 75px;
    height: auto;
    max-height: 120px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.book_thumb img {
    max-width: 75px;
    max-height: 110px;
    height: auto;
    margin-bottom: 5px;
}

.book_thumb .book_title, .book_result .book_title {
    font-size: 115%;
    font-weight: bold;
}

.book_thumb .caption {
    clear: both;
    margin: 0 10px 10px 0;
}

.book_result .caption {
    width: 300px;
}

.col-left, .col-right {
    position: relative;
    width: 435px;
    float: left;
    margin-left: 20px;
}

form ul {
    list-style-type: none;
}

.asset-list {
    border-radius: 10px;
    background-color: #EBEBEB;
    padding: 5px 10px 20px 10px;
}
.asset-list hr {
    margin: 10px 0 10px 0;
}

.asset-list div {
    margin: 1px 10px 1px 10px;
}

.asset-list h4 {
    margin: 10px;
}

.catalog {
    height: auto;
    overflow: auto;
    width: 100%;
}

.catalog img {
    max-height: 100px;
}

.book_thumb a {
    margin-left: auto;
    margin-right: auto;
}

.book_thumb a:link { color: darkred; text-decoration: none; }
.book_thumb a:hover { color: darkred; text-decoration: underline; }
.book_thumb a:active { color: darkred; text-decoration: none; }
.book_thumb a:visited { color: darkred; text-decoration: none; }

.book_result a:link .book_title { color: #333333; text-decoration: none; }
.book_result a:hover .book_title { color: #333333; text-decoration: underline; }
.book_result a:active .book_title { color: #333333; text-decoration: none; }
.book_result a:visited .book_title { color: #333333; text-decoration: none; }

.book_result a:link { color: #000; text-decoration: none; }
.book_result a:hover { color: #000; text-decoration: none; }
.book_result a:active { color: #000; text-decoration: none; }
.book_result a:visited { color: #000; text-decoration: none; }

.footer a:link { color: #fff; text-decoration: none; }
.footer a:hover { color: #fff; text-decoration: underline; }
.footer a:active { color: #fff; text-decoration: none; }
.footer a:visited { color: #fff; text-decoration: none; }

.pagination {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight:600;
    margin: 0.75rem;
}

.pagination-wrapper {
    display: flex !important;
    align-items: center !important;
    padding: 0 5px;
}

.endless_page_link {
    margin: 0 8px;
}

.endless_page_current {
    background-color: #8b0000;
    color: white;
    padding: 7px;
    border-radius:5px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

#accounts .action form {
    display: flex;
    flex-direction: column;
}

#accounts .action h1 {
    font-size: 1.75rem;
    text-align: center;
}

#accounts .action a:not(.button):not(.btn) {
    font-weight: bold;
}

#accounts .action .btn {
    align-self: center;
}

#accounts .action .btn ~ .btn{
    margin-top: 10px;
}

.password-change .alert {
    text-align: center;
    margin-top: 2rem;
}

label[for="id_captcha"] {
    display: none;
}