body {
  margin: 0;
  background: #ddd;
  color: black;
  font-size: 32px;
}

main {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.flex-container {
  display: flex;
}

/* Menu bar */
.menu-bar {
  width: 200px;
  padding: 12px;
  padding-left: 0px;
  background: #fff;
  box-shadow: 0px 0px 10px 0 #888;
}

.menu-bar ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

.menu-bar li {
  margin-bottom: .5em;
}

.menu-bar li > *,
.menu-bar li::before {
  vertical-align: middle;
}

.menu-bar li::before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 1em;
  margin-right: 24px;
  vertical-align: middle;
  background: #3BBAF8;
  transition: width .2s, margin .2s;
}

.menu-bar li.selected::before,
.menu-bar li:hover::before {
  width: 20px;
  margin-right: 4px;
}

.menu-bar a {
  color: black;
  text-decoration: none;
}

/* Images */
img {
  height: 90vh;
}
